.main-container{
    padding: 50px 50px 30px 50px;
}

.instructions-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 70px 0;
}

.instruction-card{
    width: 20%;
    margin: 0 25px;
}

.instruction-card h3{
    margin: 15px 0 10px 0;
}

.instruction-card p{
    font-size: 1em;
}

.letsGetToTheAction-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 100px 0;
}

.right-content{
    width: 60%;
}

.yourBriefTemplate-container{
    height: 300px;
    background-color: rgb(246, 246, 246);
    margin-left: -50px;
    margin-right: -50px;
}